<section class="home" id="home">
    <div class="row">
        <div class="col-10">
            <div class="cards">
                <div class="card">
                    <a href="./qayib.html">
                        <p>QAYIB LİMİTİNİ AŞANLAR</p>
                        <span>4</span>
                    </a>
                </div>
                <div class="card">
                    <a href="./late.html">
                        <p>QECİKƏNLƏR</p>
                        <span>14</span>
                    </a>
                </div>
                <div class="card">
                    <a href="/temperature.html">
                        <p>HƏRARƏTİ YÜKSƏK OLANLAR</p>
                        <span>7</span>
                    </a>
                </div>

                <div class="card bg-blue">
                    <a href="./generalStudent.html">
                        <p>ŞAGİRDLƏRİN ÜMUMİ SAYI</p>
                        <span>1456</span>
                    </a>
                </div>
                <div class="card bg-purple">
                    <a href="./notParticipate.html">
                        <p>İŞTİRAK ETMƏYƏNLƏR</p>
                        <span>145</span>
                    </a>
                </div>
                <div class="card bg-brown">
                    <a href="/notParticipate.html">
                        <p>İŞTİRAK ETMƏYƏNLƏR </p>
                        <span>10</span>
                    </a>
                </div>

            </div>
        </div>
    </div>

</section>

