
<body>





    <!-- header section starts  -->
    <div class="topbar ">
        <div class="logo">
            T.S.X.B.D.P.T
        </div>
        <div class="user-info">
            <a href="#" class="set-drop">
                user@gmail.com <img class="drop" src="./icons/drop.svg" alt="">
                <ul class="setting-dropdown" id="set-dropdown">
                    <li><a href="/settings.html">Profil ayarları</a></li>
                    <li><a href="/settings.html">Cıxış</a></li>
                </ul>
            </a>

        </div>
    </div>

    <header>
        <div class="homepage">
            <div class="d-flex align-center top">
                <a href="./dashboard.html" class="d-flex align-center white">
                    <img src="./icons/homee.svg" alt="">
                    <p>ANA SƏHİFƏ</p>
                </a>
            </div>
        </div>
        <nav class="navbar">
            <ul>
                <li class="item-list">
                    <div class="d-flex align-center">
                        <img src="./icons/user.svg" class="icon-list" alt="" />
                        <a href="./teachers.html">İŞCİLƏR </a>
                        <img class="drop" id="down-arrow" src="./icons/drop.svg" alt="" />
                    </div>
                    <ul class="dashboard-dropdown-menu menu1" id="sub-dropdown">
                        <li><a href="#">Müəllimlər</a></li>
                        <li><a href="#">Muhafizəcilər</a></li>
                        <li><a href="#">Aşbazlar</a></li>
                        <li><a href="#">Xadiməcilər</a></li>
                        <li><a href="#">Gecikənlər</a></li>
                        <li><a href="#">Hərarəti yüksək olanlar</a></li>
                    </ul>
                </li>
                <li class="item-list">
                    <div class="d-flex align-center">
                        <img src="./icons/students.svg" class="icon-list" alt="" />
                        <a href="./teachers.html">ŞAGİRDLƏR </a>
                        <img class="drop" id="down-arrow" src="./icons/drop.svg" alt="" />
                    </div>
                    <ul class="dashboard-dropdown-menu menu2" id="sub-dropdown">
                        <li><a href="#">Bütün şagirdlər</a></li>
                        <li><a href="#">Gecikənlər</a></li>
                        <li><a href="#">Qayıb limitini aşanlar</a></li>
                        <li><a href="#">Hərarəti yüksək olanlar</a></li>
                    </ul>
                </li>
                <li class="item-list">
                    <div class="d-flex align-center">
                        <img src="./icons/ixtisas.png" class="icon-list" alt="" />
                        <a href="./teachers.html">IXTISAS </a>
                        <img class="drop" id="down-arrow" src="./icons/drop.svg" alt="" />
                    </div>
                    <ul class="dashboard-dropdown-menu menu3" id="sub-dropdown">
                        <li><a href="#">Bütün ixtisaslar</a></li>
                    </ul>
                </li>
                <li class="item-list">
                    <div class="d-flex align-center">
                        <img src="./icons/corpus.svg" class="icon-list" alt="" />
                        <a href="./teachers.html">KORPUS </a>
                        <img class="drop" id="down-arrow" src="./icons/drop.svg" alt="" />
                    </div>
                    <ul class="dashboard-dropdown-menu menu4" id="sub-dropdown">
                        <li><a href="#">5 № Korpus</a></li>
                        <li><a href="#">2 № Korpus</a></li>
                        <li><a href="#">1 № Korpus</a></li>
                    </ul>
                </li>
                <li class="item-list">
                    <div class="d-flex align-center">
                        <img src="./icons/course.svg" class="icon-list" alt="" />
                        <a href="./teachers.html">KURS </a>
                        <img class="drop" id="down-arrow" src="./icons/drop.svg" alt="" />
                    </div>
                    <ul class="dashboard-dropdown-menu menu5" id="sub-dropdown">
                        <li><a href="#">1 Kurs</a></li>
                        <li><a href="#">2 Kurs</a></li>
                        <li><a href="#">3 Kurs</a></li>
                        <li><a href="#">4 Kurs</a></li>
                        <li><a href="#">1 il</a></li>
                        <li><a href="#">6 ay</a></li>
                    </ul>
                </li>
                <li class="item-list">
                    <div class="d-flex align-center">
                        <img src="./icons/data.svg" class="icon-list" alt="" />
                        <a href="./teachers.html">TƏHSİL BAZASI </a>
                        <img class="drop" id="down-arrow" src="./icons/drop.svg" alt="" />
                    </div>
                    <ul class="dashboard-dropdown-menu menu6" id="sub-dropdown">
                        <li><a href="#">Ümumi orta </a></li>
                        <li><a href="#">Tam orta</a></li>

                    </ul>
                </li>
                <li class="item-list">
                    <div class="d-flex align-center">
                        <img src="./icons/time.svg" class="icon-list" alt="" />
                        <a href="./teachers.html">TƏHSİL MÜDDƏTİ </a>
                        <img class="drop" id="down-arrow" src="./icons/drop.svg" alt="" />
                    </div>
                    <ul class="dashboard-dropdown-menu menu7" id="sub-dropdown">
                        <li><a href="#">1 il</a></li>
                        <li><a href="#">2 il</a></li>
                        <li><a href="#">3 il</a></li>
                        <li><a href="#">4 il</a></li>
                        <li><a href="#">6 ay</a></li>
                    </ul>
                </li>
                <li class="item-list">
                    <div class="d-flex align-center">
                        <img src="./icons/level.svg" class="icon-list" alt="" />
                        <a href="./teachers.html">TƏHSİL SƏVİYYƏSİ </a>
                        <img class="drop" id="down-arrow" src="./icons/drop.svg" alt="" />
                    </div>
                    <ul class="dashboard-dropdown-menu menu8" id="sub-dropdown">
                        <li><a href="#">İlk peşə</a></li>
                        <li><a href="#">Texniki peşə</a></li>
                        <li><a href="#">Yüksək texniki peşə</a></li>
                    </ul>
                </li>
                <li class="item-list">
                    <div class="d-flex align-center">
                        <img src="./icons/payment.svg" class="icon-list" alt="" />
                        <a href="./teachers.html">TƏHSİL ÖDƏNİŞİ </a>
                        <img class="drop" id="down-arrow" src="./icons/drop.svg" alt="" />
                    </div>
                    <ul class="dashboard-dropdown-menu menu9" id="sub-dropdown">
                        <li><a href="#">Dövlət hesabına</a></li>
                        <li><a href="#">Ödənişli əsaslarla</a></li>

                    </ul>
                </li>
            </ul>
        </nav>



    </header>

    <!-- header section ends -->
    <!-- home section starts  -->

    <div class="home" id="home">
        <div class="row">
            <div class="col-12">
                <div class="single-student-container">
                    <div class="single-student-profil">
                        <img src="./icons/prof.png" alt="">
                        <h2>POLADLI AGSHİN SƏMƏNDAR OĞLU</h2>
                    </div>
                    <div class="single-student-info">
                        <div class="missing">
                            <span>QAYIB</span>
                            <p>4</p>
                        </div>
                        <div class="late">
                            <span>QECİKMƏ</span>
                            <p>12</p>
                        </div>
                        <div class="status">
                            <span>STATUS</span>
                            <p class="success-bg">AKTİV</p>
                        </div>
                    </div>
                    <div class="single-student-form">
                        <div class="single-student-date">
                            <input type="date">
                        </div>

                        <a href="./edit.html" class=" single-edit-btn">DÜZƏLİŞ ET</a>

                    </div>
                </div>
            </div>

        </div>
        <div class="row mt-4">
            <div class="col-12">
                <table>
                    <thead>
                        <tr>
                            <th>İD</th>
                            <th>AD</th>
                            <th>SOYAD</th>
                            <th>ATA ADI</th>
                            <th>TİP</th>
                            <th>KORPUS</th>
                            <th>KURS</th>
                            <th>GRUP №</th>
                            <th>QAYIB LİMİTİNİ</th>
                            <th>İXTİSAS KODU</th>
                            <th>TƏHSİL BAZASI</th>
                            <th>TƏHSİL SƏVİYYƏSİ</th>
                            <th>TƏHSİL MÜDDƏTİ</th>
                            <th>TƏHSİL ÖDƏNİŞİ</th>
                            <th>STATUS</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <td>Agshin</td>
                            <td>Poladlı</td>
                            <td>SəməndarSəməndar</td>
                            <td>Şagird</td>
                            <td>1</td>
                            <td>2</td>
                            <td>123</td>
                            <td class="danger">AŞIB</td>
                            <td>43532</td>
                            <td>Ümumi orta təhsil</td>
                            <td>Texniki peşə</td>
                            <td>1 il</td>
                            <td>Dövlət hesabına</td>
                            <td>AKTİVDİR</td>
                        </tr>
                        <tr>
                            <th>1</th>
                            <td>Agshin</td>
                            <td>Poladlı</td>
                            <td>Səməndar</td>
                            <td>Şagird</td>
                            <td>1</td>
                            <td>2</td>
                            <td>123</td>
                            <td class="danger">AŞIB</td>
                            <td>43532</td>
                            <td>Ümumi orta təhsil</td>
                            <td>Texniki peşə</td>
                            <td>1 il</td>
                            <td>Dövlət hesabına</td>
                            <td>AKTİVDİR</td>
                        </tr>
                        <tr>
                            <th>1</th>
                            <td>Agshin</td>
                            <td>Poladlı</td>
                            <td>Səməndar</td>
                            <td>Şagird</td>
                            <td>1</td>
                            <td>2</td>
                            <td>123</td>
                            <td class="danger">AŞIB</td>
                            <td>43532</td>
                            <td>Ümumi orta təhsil</td>
                            <td>Texniki peşə</td>
                            <td>1 il</td>
                            <td>Dövlət hesabına</td>
                            <td>AKTİVDİR</td>
                        </tr>
                        <tr>
                            <th>1</th>
                            <td>Agshin</td>
                            <td>Poladlı</td>
                            <td>Səməndar</td>
                            <td>Şagird</td>
                            <td>1</td>
                            <td>2</td>
                            <td>123</td>
                            <td class="danger">AŞIB</td>
                            <td>43532</td>
                            <td>Ümumi orta təhsil</td>
                            <td>Texniki peşə</td>
                            <td>1 il</td>
                            <td>Dövlət hesabına</td>
                            <td>AKTİVDİR</td>
                        </tr>
                        <tr>
                            <th>1</th>
                            <td>Agshin</td>
                            <td>Poladlı</td>
                            <td>Səməndar</td>
                            <td>Şagird</td>
                            <td>1</td>
                            <td>2</td>
                            <td>123</td>
                            <td class="danger">AŞIB</td>
                            <td>43532</td>
                            <td>Ümumi orta təhsil</td>
                            <td>Texniki peşə</td>
                            <td>1 il</td>
                            <td>Dövlət hesabına</td>
                            <td>AKTİVDİR</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>



    <!-- custom js file link  -->
    <script src="app.js"></script>

</body>



